name: Makefile CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

     # Service containers to run with `runner-job`
    services:
      # Label used to access the service container
      redis:
        # Docker Hub image
        image: redis
        #
        ports:
          # Opens tcp port 6379 on the host and service container
          - 58001:80
          - 58001:80/udp

    steps:
    - uses: actions/checkout@v3

    - name: Compile code
      run: make

    - name: Clean
      run: make clean
    
    - name: Test
      run: make test
