name: Makefile CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest
    container: ubuntu
    services:
      ports: 
        - 80:80 


    steps:
    - uses: actions/checkout@v3

    - name: Test
      run: |
        ping -c 5 google.com

    - name: Compile code
      run: make

    - name: Clean
      run: make clean
