name: Makefile CI

EXPOSE 58001
EXPOSE 59000

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest


    steps:
    - uses: actions/checkout@v3

    - name: Test
      run: |
        ping -c 5 google.com

    - name: Compile code
      run: make

    - name: Clean
      run: make clean
