name: Makefile CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest
    container: ubuntu
    services:
      redis:
        image: redis
        ports: 
          - "80:80"
          - "443:443"
          - "6379:6379"
          - "3306:3306"
          - "3307:3307"
          - "3308:3308"
          


    steps:
    - uses: actions/checkout@v3

    - run: apt-get update -y
    - run: apt-get install -y iputils-ping

    - name: Test
      run: |
        ping -c 5 google.com

    - name: Compile code
      run: make

    - name: Clean
      run: make clean
